{% extends "base.html" %}

{% block sidebar %}
<a href="{% url 'web_spoiler:index' %}">Main</a> -
<a href="{% url 'web_spoiler:titles' %}">Titles</a> -
{{ title_spoiler.title.title_text }}
{% endblock %}

{% block content %}
{% if title_spoiler %}
<div class="main-spoiler">
  <h1>{{ title_spoiler.spoiler_text }}</h1>
  <h2>{{ title_spoiler.title.title_text }}</h2>
</div>
<div class="spoiler-link">
  <table border="1">
    <tr>
      <td>{{ tinyurl }}</td>
    </tr>
  </table>
</div>
{% endif %}
{% endblock %}
